<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Аппендер для консоли -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%logger{36}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Логирование HTTP-запросов и ответа -->
    <logger name="org.springframework.web" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.web.servlet" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Логирование SQL-запросов Hibernate -->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Логирование вашего приложения -->
    <logger name="dev.delivery" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Включаем вывод для корневого логгера -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>